.mainBox {
    max-width: 1050px;
}

.rowcontent {
    padding-top: 10px;
}

ul {
    list-style-type: square;
}

.glowbox:hover {
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.737);
    z-index: 10;
}

.thick-border {
    border: 3px solid #6495ED;
}

.card .card-img-top {
    object-fit: cover;
    height: 300px;
    /* Adjust the desired height for the images */
}

.mainBox {
    color: white;
}

h1 {
    font-size: 45px;
    color: white;
    z-index: 1;
    position: relative;
}

a {
    color: #81e3f5;
}

a:hover {
    color: goldenrod
}

body {
    font-family: 'VT323', monospace;
    font-size: 20px;
    letter-spacing: 1px;


    /* Make sure the body takes up the full viewport */
    margin: 0;
    padding: 0;
    min-height: 100vh;

    /* Ensure we can overlay the scanlines */
    position: relative;
}

.card-title-style {
    color: #171750;
    font-size: x-large;
}

.card-head {
    background-color: #C0C0C0;
}

body::before {
    pointer-events: none;
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(to bottom,
            rgba(255, 0, 0, 0.1),
            /* More transparent red */
            rgba(255, 0, 0, 0.1) 1px,
            /* Wider line */
            rgba(0, 255, 0, 0.1) 1px,
            /* More transparent green */
            rgba(0, 255, 0, 0.1) 2px,
            /* Wider line */
            rgba(0, 0, 255, 0.1) 2px,
            /* More transparent blue */
            rgba(0, 0, 255, 0.1) 3px
            /* Wider line */
        ), radial-gradient(circle at center, #081e4e, #050829);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

}